/* Colors Light & Dark */
[data-md-color-scheme="light"] {
  /* Primary color shades */
  --md-primary-fg-color:               #111111;
  --md-primary-bg-color:               #eeeeee;
  --md-primary-bg-color--light:        #bbbbbb;

  /* Accent color shades */
  --md-accent-fg-color:                #F49519;  /* Orange instead of red */
  --md-accent-fg-color--transparent:   #F49519;

  /* Default color shades */
  --md-default-fg-color:               #111111;
  --md-default-fg-color--light:        #222222;
  --md-default-fg-color--lighter:      #cccccc;
  --md-default-fg-color--lightest:     #cccccc;
  --md-default-bg-color:               #dddddd;
  --md-default-bg-color--light:        #dddddd;
  --md-default-bg-color--lighter:      #dddddd;
  --md-default-bg-color--lightest:     #dddddd;

  /* Typeset color shades */
  --md-typeset-color:                  #111111;

  /* Typeset `a` color shades */
  --md-typeset-a-color:                #4DBEEE;  /* Orange links instead of red */

  /* Typeset `table` color shades */
  --md-typeset-table-color:            #cccccc;
  --md-typeset-table-color--light:     #eeeeee;

  /* Footer color shades */
  --md-footer-bg-color:                #111111;

  /* Typeset `kbd` color shades */
  --md-typeset-kbd-color:              #eeeeee;
  --md-typeset-kbd-accent-color:       #dddddd;
  --md-typeset-kbd-border-color:       #bbbbbb;

  /* Code color shades */
  --md-code-bg-color:                  #eee;
  --md-code-fg-color:                  #111;
  --md-code-hl-operator-color:         #111;
  --md-code-hl-variable-color:         #111;
  --md-code-hl-comment-color:          #999;
  --md-code-hl-punctuation-color:      #111;
}

[data-md-color-scheme="dark"] {
  /* Primary color shades */
  --md-primary-fg-color:               #111111;
  --md-primary-bg-color:               #eeeeee;
  --md-primary-bg-color--light:        #bbbbbb;

  /* Accent color shades */
  --md-accent-fg-color:                #F49519;  /* Orange instead of red */
  --md-accent-fg-color--transparent:   #F49519;

  /* Default color shades */
  --md-default-fg-color:               #eeeeee;
  --md-default-fg-color--light:        #eeeeee;
  --md-default-fg-color--lighter:      #888888;
  --md-default-fg-color--lightest:     #444444;
  --md-default-bg-color:               #222222;
  --md-default-bg-color--light:        #222222;
  --md-default-bg-color--lighter:      #222222;
  --md-default-bg-color--lightest:     #222222;

  /* Typeset color shades */
  --md-typeset-color:                  #eeeeee;

  /* Typeset `a` color shades */
  --md-typeset-a-color:                #4DBEEE;  /* Orange links instead of red */

  /* Typeset `table` color shades */
  --md-typeset-table-color:            #333333;
  --md-typeset-table-color--light:     #444444;

  /* Footer color shades */
  --md-footer-bg-color:                #111111;

  /* Typeset `kbd` color shades */
  --md-typeset-kbd-color:              #555;
  --md-typeset-kbd-accent-color:       #444;
  --md-typeset-kbd-border-color:       #222;

  /* Code color shades */
  --md-code-bg-color:                  #111;
  --md-code-fg-color:                  #fff;
  --md-code-hl-operator-color:         #fff;
  --md-code-hl-variable-color:         #fff;
  --md-code-hl-comment-color:          #999;
  --md-code-hl-punctuation-color:      #fff;
}


.md-typeset h1, .md-typeset h2, .md-typeset h3 {
    font-weight: 700;
}
.md-typeset h1 {
    margin: 0 0 0.64em;
}
.md-typeset h2 {
    margin: 1em 0 0.64em;
}
.md-typeset h3 {
    margin: 0.64em 0 0.8em;
}


.preview-container {
  position: relative;
  display: inline-block; /* or block, depending on your layout */
}

.off-glb {
  width: 100%; /* adjust to your layout */
  display: block;
}

.overlay-video {
  position: absolute;
  top:9%;     /* adjust position vertically */
  left: 22%;    /* adjust position horizontally */
  width: 56%;   /* make it slightly smaller */
  z-index: 2;   /* put it on top */
  pointer-events: none; /* optional: lets clicks pass through */
  border-radius: 4px; /* optional: adds rounded corners */
}



